@charset "UTF-8";
/*==================================================
 CLASS LIB CSS
==================================================*/

/* IME
------------------------------------------------- */
.ime_on { ime-mode: active !important; }
.ime_off { ime-mode: disabled !important; }
.ime_alpha { ime-mode: inactive !important; }

/* IME
------------------------------------------------- */
.imgHover:hover {
	opacity:0.7;
	filter:alpha(opacity=70);
	-ms-filter: "alpha( opacity=70 )";
}

/* BOX
------------------------------------------------- */
.pRel { position: relative; }
.pAbs { position: absolute; }
.inline { display: inline; }
.block { display: block; }
.leftBox { float: left !important; }
.centerBox { margin-left: auto; margin-right: auto; }
.rightBox { float: right !important; }

/* CLEAR
------------------------------------------------- */
.clearFix { clear: both; }


/* TEXT
------------------------------------------------- */
.leftText { text-align: left !important; }
.rightText { text-align: right !important; }
.centerText { text-align: center !important; }
.middleText { vertical-align: middle !important; }

.wordBreak { word-wrap: break-word; }
.wbr{
	word-break: break-word;
	word-wrap: break-word;
}

.normal { font-weight: normal; }
.bold { font-weight: bold; }
.readonly { background: #CCCCCC; }

.error { color: #FF0000 !important; }
.required { color: #FF0000 !important; }
.link { color: #0033CC !important; }

/* SCROLL
------------------------------------------------- */
.scroll { overflow-y: scroll; }

/* SPACE TAGS
------------------------------------------------- */
.hr hr { display: none; font-size: 0px; }
.br br { display: none; font-size: 0px; }

/* BLOCK
------------------------------------------------- */
.none { display: none; }
.boxWrap { overflow: hidden; zoom: 1;}

/* FONT
------------------------------------------------- */
.f10px { font-size: 10px !important; }
.f11px { font-size: 10px !important; }
.f12px { font-size: 12px !important; }
.f13px { font-size: 13px !important; }
.f14px { font-size: 14px !important; }
.f15px { font-size: 15px !important; }
.f16px { font-size: 16px !important; }
.f18px { font-size: 18px !important; }
.f20px { font-size: 20px !important; }
.f24px { font-size: 24px !important; }

/* WIDTH
------------------------------------------------- */
.w50px { width: 50px !important; }
.w60px { width: 60px !important; }
.w80px { width: 80px !important; }
.w100px { width: 100px !important; }
.w110px { width: 110px !important; }
.w120px { width: 120px !important; }
.w130px { width: 130px !important; }
.w140px { width: 140px !important; }
.w155px { width: 155px !important; }
.w160px { width: 160px !important; }
.w180px { width: 180px !important; }
.w220px { width: 220px !important; }
.w200px { width: 200px !important; }
.w230px { width: 230px !important; }
.w240px { width: 240px !important; }
.w320px { width: 320px !important; }
.w400px { width: 400px !important; }
.w450px { width: 450px !important; }
.w820px { width: 820px !important; }
.mw120px { min-width: 120px !important; }
.w3em { width: 3em !important; }
.w4em { width: 4em !important; }
.w5em { width: 5em !important; }
.w6em { width: 6em !important; }
.w7em { width: 7em !important; }
.w8em { width: 8em !important; }
.w10em { width: 10em !important; }
.w16em { width: 16em !important; }

/* HEIGHT
------------------------------------------------- */
.h32px { height: 32px !important; }
.h40px { height: 40px !important; }

/* MARGIN
------------------------------------------------- */
.mT0{margin-top:0!important;}
.mT2{margin-top:2px!important;}
.mT3{margin-top:3px!important;}
.mT5{margin-top:5px!important;}
.mT6{margin-top:6px!important;}
.mT8{margin-top:8px!important;}
.mT10{margin-top:10px!important;}
.mT12{margin-top:12px!important;}
.mT14{margin-top:14px!important;}
.mT15{margin-top:15px!important;}
.mT20{margin-top:20px!important;}
.mT25{margin-top:25px!important;}
.mT30{margin-top:30px!important;}
.mT35{margin-top:35px!important;}
.mT40{margin-top:40px!important;}
.mT45{margin-top:45px!important;}
.mT50{margin-top:50px!important;}
.mT55{margin-top:55px!important;}
.mT60{margin-top:60px!important;}
.mT65{margin-top:65px!important;}
.mT70{margin-top:70px!important;}
.mT75{margin-top:75px!important;}
.mT80{margin-top:80px!important;}
.mT85{margin-top:85px!important;}
.mT90{margin-top:90px!important;}
.mT95{margin-top:95px!important;}
.mT100{margin-top:100px!important;}
.mT150{margin-top:150px!important;}
.mB0{margin-bottom:0!important;}
.mB1{margin-bottom:1px!important;}
.mB2{margin-bottom:2px!important;}
.mB5{margin-bottom:5px!important;}
.mB10{margin-bottom:10px!important;}
.mB15{margin-bottom:15px!important;}
.mB20{margin-bottom:20px!important;}
.mB25{margin-bottom:25px!important;}
.mB30{margin-bottom:30px!important;}
.mB35{margin-bottom:35px!important;}
.mB40{margin-bottom:40px!important;}
.mB45{margin-bottom:45px!important;}
.mB50{margin-bottom:50px!important;}
.mB55{margin-bottom:55px!important;}
.mB60{margin-bottom:60px!important;}
.mB65{margin-bottom:65px!important;}
.mB70{margin-bottom:70px!important;}
.mB75{margin-bottom:75px!important;}
.mB80{margin-bottom:80px!important;}
.mB85{margin-bottom:85px!important;}
.mB90{margin-bottom:90px!important;}
.mB95{margin-bottom:95px!important;}
.mB100{margin-bottom:100px!important;}
.mB150{margin-bottom:150px!important;}
.mL0{margin-left:0!important;}
.mL5{margin-left:5px!important;}
.mL10{margin-left:10px!important;}
.mL15{margin-left:15px!important;}
.mL20{margin-left:20px!important;}
.mL25{margin-left:25px!important;}
.mL30{margin-left:30px!important;}
.mL35{margin-left:35px!important;}
.mL40{margin-left:40px!important;}
.mL45{margin-left:45px!important;}
.mL50{margin-left:50px!important;}
.mL55{margin-left:55px!important;}
.mL60{margin-left:60px!important;}
.mL65{margin-left:65px!important;}
.mL70{margin-left:70px!important;}
.mL75{margin-left:75px!important;}
.mL80{margin-left:80px!important;}
.mL85{margin-left:85px!important;}
.mL90{margin-left:90px!important;}
.mL95{margin-left:95px!important;}
.mL100{margin-left:100px!important;}
.mR0{margin-right:0!important;}
.mR5{margin-right:5px!important;}
.mR10{margin-right:10px!important;}
.mR15{margin-right:15px!important;}
.mR20{margin-right:20px!important;}
.mR25{margin-right:25px!important;}
.mR30{margin-right:30px!important;}
.mR35{margin-right:35px!important;}
.mR40{margin-right:40px!important;}
.mR45{margin-right:45px!important;}
.mR50{margin-right:50px!important;}
.mR55{margin-right:55px!important;}
.mR60{margin-right:60px!important;}
.mR65{margin-right:65px!important;}
.mR70{margin-right:70px!important;}
.mR75{margin-right:75px!important;}
.mR80{margin-right:80px!important;}
.mR85{margin-right:85px!important;}
.mR90{margin-right:90px!important;}
.mR95{margin-right:95px!important;}
.mR100{margin-right:100px!important;}
.pT0{padding-top:0!important;}
.pT5{padding-top:5px!important;}
.pT10{padding-top:10px!important;}
.pT15{padding-top:15px!important;}
.pT20{padding-top:20px!important;}
.pT25{padding-top:25px!important;}
.pT30{padding-top:30px!important;}
.pT35{padding-top:35px!important;}
.pT40{padding-top:40px!important;}
.pT45{padding-top:45px!important;}
.pT50{padding-top:50px!important;}
.pT55{padding-top:55px!important;}
.pT60{padding-top:60px!important;}
.pT65{padding-top:65px!important;}
.pT70{padding-top:70px!important;}
.pT75{padding-top:75px!important;}
.pT80{padding-top:80px!important;}
.pT85{padding-top:85px!important;}
.pT90{padding-top:90px!important;}
.pT95{padding-top:95px!important;}
.pT100{padding-top:100px!important;}
.pB0{padding-bottom:0!important;}
.pB5{padding-bottom:5px!important;}
.pB10{padding-bottom:10px!important;}
.pB15{padding-bottom:15px!important;}
.pB20{padding-bottom:20px!important;}
.pB25{padding-bottom:25px!important;}
.pB30{padding-bottom:30px!important;}
.pB35{padding-bottom:35px!important;}
.pB40{padding-bottom:40px!important;}
.pB45{padding-bottom:45px!important;}
.pB50{padding-bottom:50px!important;}
.pB55{padding-bottom:55px!important;}
.pB60{padding-bottom:60px!important;}
.pB65{padding-bottom:65px!important;}
.pB70{padding-bottom:70px!important;}
.pB75{padding-bottom:75px!important;}
.pB80{padding-bottom:80px!important;}
.pB85{padding-bottom:85px!important;}
.pB90{padding-bottom:90px!important;}
.pB95{padding-bottom:95px!important;}
.pB100{padding-bottom:100px!important;}
.pL0{padding-left:0!important;}
.pL5{padding-left:5px!important;}
.pL10{padding-left:10px!important;}
.pL15{padding-left:15px!important;}
.pL20{padding-left:20px!important;}
.pL25{padding-left:25px!important;}
.pL30{padding-left:30px!important;}
.pL35{padding-left:35px!important;}
.pL40{padding-left:40px!important;}
.pL45{padding-left:45px!important;}
.pL50{padding-left:50px!important;}
.pL55{padding-left:55px!important;}
.pL60{padding-left:60px!important;}
.pL65{padding-left:65px!important;}
.pL70{padding-left:70px!important;}
.pL75{padding-left:75px!important;}
.pL80{padding-left:80px!important;}
.pL85{padding-left:85px!important;}
.pL90{padding-left:90px!important;}
.pL95{padding-left:95px!important;}
.pL100{padding-left:100px!important;}
.pR0{padding-right:0!important;}
.pR5{padding-right:5px!important;}
.pR10{padding-right:10px!important;}
.pR15{padding-right:15px!important;}
.pR20{padding-right:20px!important;}
.pR25{padding-right:25px!important;}
.pR30{padding-right:30px!important;}
.pR35{padding-right:35px!important;}
.pR40{padding-right:40px!important;}
.pR45{padding-right:45px!important;}
.pR50{padding-right:50px!important;}
.pR55{padding-right:55px!important;}
.pR60{padding-right:60px!important;}
.pR65{padding-right:65px!important;}
.pR70{padding-right:70px!important;}
.pR75{padding-right:75px!important;}
.pR80{padding-right:80px!important;}
.pR85{padding-right:85px!important;}
.pR90{padding-right:90px!important;}
.pR95{padding-right:95px!important;}
.pR100{padding-right:100px!important;}



.button {
	display: inline-block;
	width: 200px;
	height: 54px;
	text-align: center;
	text-decoration: none;
	line-height: 54px;
	outline: none;
}
.button::before,
.button::after {
	position: absolute;
	z-index: -1;
	display: block;
	content: '';
}
.button,
.button::before,
.button::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all .3s;
	transition: all .3s;
}

.button:hover {
	text-decoration: none;
}

.button.type001 {
	border: 1px solid #15aeec;
	background-color: #49c0f0;
	background-image: -webkit-linear-gradient(top, #49c0f0, #2cafe3);
	background-image: linear-gradient(to bottom, #49c0f0, #2cafe3);
	border-radius: 4px;
	color: #fff;
	line-height: 54px;
	-webkit-transition: none;
	transition: none;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
}
.button.type001:hover {
	border:1px solid #1090c3;
	background-color: #1ab0ec;
	background-image: -webkit-linear-gradient(top, #1ab0ec, #1a92c2);
	background-image: linear-gradient(to bottom, #1ab0ec, #1a92c2);
}
.button.type001:active {
	background: #1a92c2;
	box-shadow: inset 0 3px 5px rgba(0, 0, 0, .2);
	color: #1679a1;
	text-shadow: 0 1px 1px rgba(255, 255, 255, .5);
}
.form-control-static{
	word-break: break-all;
}